<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/second">Вторая</a></li>
    </ul>
  </body>
</html>
