<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    ${require('html-loader?interpolate!../includes/common/head.html')}
  </head>
  <body>
    ${require('html-loader?interpolate!../includes/common/header.html')}
    ${require('html-loader?interpolate!../includes/main/main.html')}
    ${require('html-loader?interpolate!../includes/common/footer.html')}
  </body>
</html>
